@model Buffet.Models.Restaurant

@{
    ViewData["Title"] = "EditRestaurant";
}

<h1>EditRestaurant</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRestaurant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResId" />
            <div class="form-group">
                <label asp-for="ResName" class="control-label">ชื่อร้านอาหาร</label>
                <input asp-for="ResName" class="form-control" />
                <span asp-validation-for="ResName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResPhone" class="control-label">เบอร์โทรร้าน</label>
                <input asp-for="ResPhone" class="form-control" />
                <span asp-validation-for="ResPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResLocation" class="control-label">ที่ตั้งร้าน</label>
                <input asp-for="ResLocation" class="form-control" />
                <span asp-validation-for="ResLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResAvg" class="control-label">ราคาเฉลี่ยของราคาคอร์สในร้าน</label>
                <input asp-for="ResAvg" class="form-control" />
                <span asp-validation-for="ResAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label">ประเภทการกิน</label>
                <select asp-for="TypeId" class="form-select" asp-items="ViewBag.Type"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResDtl" class="control-label">รายละเอียดร้านอาหาร</label>
                <input asp-for="ResDtl" class="form-control" />
                <span asp-validation-for="ResDtl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TablesetIds" class="control-label">จำนวนโตีะทั้งหมด</label>
                <select asp-for="TablesetIds" class="form-select" asp-items="ViewBag.Set")></select>
                <span asp-validation-for="TablesetIds" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TableId" class="control-label">จำนวนโต๊ะว่างที่เหลือ</label>
                <input asp-for="TableId" class="form-control" />
                <span asp-validation-for="TableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="col-5">
    <form method="post" enctype="multipart/form-data" asp-action="ResImgUpload">
        <input name="id" type="hidden" value="@Model.ResId" />
        <input type="file" accept="image/jpeg" name="imgfiles" class="form-control" required />
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
