@model IEnumerable<Buffet.ViewModels.Pdvm>


<img src="/Icon/copper header.png" class="d-block w-100" alt="...">
<h1 class="text-center" pt-5 my-5>Copper Buffet</h1>
<h4 class="text-center" pt-5 my-5>Restaurant Description XxxxxxxxxxxxxxxxX</h4>
@foreach (var item in Model)
{
        <h1 class="text-center" pt-5 my-5>@item.ResName</h1>
        <h4 class="text-center" pt-5 my-5>Restaurant Description XxxxxxxxxxxxxxxxX</h4>
        <div class="text-center" pt-5 my-5>
            <button type="button" class="btn btn-primary">
                <i class="bi bi-geo-alt"></i>
                Map
            </button>
            <i class="bi bi-telephone">@item.ResPhone</i>

            <button type="button" class="btn btn-primary mx-1">
                <i class="bi bi-cash"></i>
                100-200
            </button>
        </div>

}
<div class="container mx-5 my-5">
    <h3>สรุปยอดชำระ</h3>
</div>
<div class="container" style="background-color : pink">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <h3 class="font-weight-bold my-5">Copper Set 1</h3>

            </div>
            <div class="col-md-5">
                <p class="text-center">International Buffet + Select 1 Premium Dish from 3 Options</p>
                <p class="text-center">Baked & Torched Canadian Lobster Tail with Trio Cheese Veloute, Khao-Soi Lobster Truffle Espuma or Korean Crab Paste D.I.Y</p>
                <p class="text-center">*Special menus of each package cannot be used in conjunction with other packages.</p>
            </div>
            <div class="col text-right col-lg-3">
                <p class="font-weight-bold">฿1,999</p>
                <p>NET price per person</p>
                <h5 class="mt-5">รอบ วันจันทร์ที่ 18 มีนาคม 2024</h5>
                <p>เวลา 13.00-15.00</p>
            </div>
            <hr class="mx-n3">
            <h3>วิธีชำระเงิน</h3>
            @* qrcode_payment *@
            <div class="row">
                <div class="col">
                    <h1 class="pt-2">Thai Qr Payment</h1>
                </div>
                <div class="col">
                    <img src="/Icon/thai qr payment.png" class="d-block w-100 my-5" alt="...">
                </div>
            </div>
            <hr class="mx-n3">
            @* credit card *@
            <div class="row">
                <div class="col">
                    <h1 class="pt-2">Credit/Debit Card</h1>
                </div>
                <div class="col">
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                            <h6 class="mb-0">รหัสบัตร</h6>

                        </div>
                        <div class="col-md-9 pe-5">

                            <input type="text" class="form-control form-control-lg" maxlength="16" />
                        </div>
                    </div>
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                            <h6 class="mb-0">วันหมดอายุ</h6>
                        </div>
                        <div class="col-md-9 pe-5">
                            <!-- <input type="month" id="start" name="start" min="2010-03" value="2024-3" /> -->
                            <input type="text" class="form-control form-control-lg" maxlength="5" />

                        </div>
                    </div>
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                            <h6 class="mb-0">CCV</h6>

                        </div>
                        <div class="col-md-9 pe-5">
                            <input type="text" class="form-control form-control-lg" maxlength="3" />
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mx-n3">
            @* policy *@
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="my-3">ข้อกำหนดและเงื่อนไข</a>
            <hr class="mx-n3">
            @* สรุปยอด *@
            <div class="row">
                <div class="col">
                    <h3>รวมทั้งหมด</h3>
                </div>
                <div class="col">
                    <h3 class="text-end">1999 บาท</h3>
                </div>
                <div class="px-5 py-4 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">ยืนยัน</button>
                </div>
            </div>

        </div>
    </div>

