@model IEnumerable<Buffet.ViewModels.Pdvm>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMesage;
    </div>
}

<head>
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="~/css/Home-Index.css"></link>
    <link> rel</link>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
    <div class="">
    <div class="mt-1 pt-5"></div>
        <div id="carouselExampleIndicators" class="carousel slide">
@*             <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> *@
            <div class="carousel-inner-bg">
                <div class="carousel-item-bg active">
                    <img src="/Icon/HomePage-2.jpg" class="d-block w-100" alt="...">
                </div>
@*                 <div class="carousel-item c-item">
                    <img src="/Icon/background.png" class="d-block w-100 c-img" alt="...">
                </div>
                <div class="carousel-item c-item">
                    <img src="/Icon/background2.png" class="d-block w-100 c-img" alt="...">
                </div> *@
            </div>
@*             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> *@
        </div>



    <div class="container">
    @* search *@
    <div class="container mt-5 mb-5 w-50">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search ....."></input>
            <button class="btn btn-outline-info" type="button">Search</button>
        </form>
    </div>




    
    <div class="d-flex justify-content-center h-100">
    <button type="button" class="btn btn-primary">
                    <i class="bi bi-geo-alt"></i>
        Map
    </button>
    <button type="button" class="btn btn-primary mx-5">
                    <i class="bi bi-cash"></i>

        Cash
    </button>
    <button type="button" class="btn btn-primary">
                   
        </svg>
        Type @* กูหาไอค่อยไม่เจอ *@
    </button>
    </div>

    @* ================================================================================================================================================================ *@

    @* recomend *@
    <div class="container mx-5 mt-5">
    </div>    
    @* card1 *@
    <section>
                <div class="testimonial-slider">
                    <div id="carouselExampleControls" class="carousel carousel-dark" data-bs-ride="carousel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="testimonial-title">
                                        <i class="bi bi-quote display-2"></i>
                                        <h2 class="fw-bold display-6">Reccomend</h2>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                                @*=========================== แสดงร้านในช่อง Recommend===========================*@

                                <div class="col-md-8">
                                    
                                        <div class="carousel-inner">
                                        @foreach (var item in Model)
                                        {
                                            <div class="carousel-item active">
                                                <div class="card">
                                                    <a asp-controller="Restaurant" asp-action="Store" asp-route-id="@item.ResId"> <div class="img-wrapper"><img src="/menu/menu-1.jpg" class="d-block w-100" alt="..."> </div></a>
                                                    <div class="card-body">
                                                        <a asp-controller="Restaurant"  asp-action="Store" asp-route-id="@item.ResId"><h5 class="card-title">@item.ResName</h5></a>
                                                        <br />
                                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                                        <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        
                                    }
                                    </div>

                                    


                                      @*
                                        <div class="carousel-item">
                                        <div class="card">
                                        <div class="img-wrapper"><img src="/menu/menu-2.jpg" class="d-block w-100" alt="..."> </div>
                                        <div class="card-body">
                                        <h5 class="card-title">Card title 2</h5>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="carousel-item">
                                        <div class="card">
                                        <div class="img-wrapper"><img src="/menu/menu-3.jpg" class="d-block w-100" alt="..."> </div>
                                        <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="carousel-item">
                                        <div class="card">
                                        <div class="img-wrapper"><img src="/menu/menu-4.jpg" class="d-block w-100" alt="..."> </div>
                                        <div class="card-body">
                                        <h5 class="card-title">Card title 4</h5>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="carousel-item">
                                        <div class="card">
                                        <div class="img-wrapper"><img src="/menu/menu-5.jpg" class="d-block w-100" alt="..."> </div>
                                        <div class="card-body">
                                        <h5 class="card-title">Card title 5</h5>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="carousel-item">
                                        <div class="card">
                                        <div class="img-wrapper"><img src="/menu/menu-3.jpg" class="d-block w-100" alt="..."> </div>
                                        <div class="card-body">
                                        <h5 class="card-title">Card title 6</h5>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <i class="bi bi-star-fill text-warning pe-1"></i>
                                        <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                        </div>
                                        </div>
                                        </div>
                                      *@  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="/js/site.js"></script>
</section>

@* ====================================================================================================================================== *@

@* Food Type*@    
    <div class="container mx-5 mt-5">
    </div>
    <section>
                <div class="testimonial-slider">
                    <div id="carouselExampleControls" class="carousel carousel-dark" data-bs-ride="carousel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="testimonial-title">
                                        <i class="bi bi-quote display-2"></i>
                                        <h2 class="fw-bold display-6">Food Type</h2>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <div class="col-md-8">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="card">
                                                <div class="img-wrapper"><img src="/menu/menu-1.jpg" class="d-block w-100" alt="..."> </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title 1</h5>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card">
                                                <div class="img-wrapper"><img src="/menu/menu-2.jpg" class="d-block w-100" alt="..."> </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title 2</h5>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card">
                                                <div class="img-wrapper"><img src="/menu/menu-3.jpg" class="d-block w-100" alt="..."> </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title 3</h5>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card">
                                                <div class="img-wrapper"><img src="/menu/menu-4.jpg" class="d-block w-100" alt="..."> </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title 4</h5>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card">
                                                <div class="img-wrapper"><img src="/menu/menu-5.jpg" class="d-block w-100" alt="..."> </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title 5</h5>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card">
                                                <div class="img-wrapper"><img src="/menu/menu-3.jpg" class="d-block w-100" alt="..."> </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title 6</h5>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <i class="bi bi-star-fill text-warning pe-1"></i>
                                                    <p class="card-text">"Some dummy text you don't need to read. Since you have decided to read, do like, share, comment and subscribe to Coding Yaar."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="/js/site.js"></script>
    </section>

@* ================================================================================================================================== *@

    @* Dining Style*@
    <div class="container mx-5 my-1 mt-5">
        <h2>Dining Style</h2>
    </div>
    <section>
        <div class="card-group">
            @* card1 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card2 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card3 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
            
        </div>
    </section>
    <div class="mt"></div>
    <section class="cover">
    </section>
    <hr class="hr" />
    <div class="container">
        <div class="d-flex justify-content-center h-100 mx-1 my-2 pb-1">
            <img src="/Icon/icon.png" alt="" width="70" height="70">
            <p><a class="link-opacity-10-hover mx-5 text-black" href="#">Bufteraunt คืออะไร</a></p>
            <p><a class="link-opacity-10-hover mx-5 text-black" href="#">วิธีการจองโต๊ะ</a></p>
            <p><a class="link-opacity-10-hover mx-5 text-black" href="#">ติดต่อเรา</a></p>

        </div>
        </div>
    </div>
    </div>
</body>