@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="~/css/Home-Index.css"></link>
</head>
<body>
    @* img *@
    <section 
        class="cover">
    </section>
    @* search *@
    <div class="d-flex justify-content-center h-100">
        <div class="search">
            <input type="text" class="search-input" placeholder="search..." name="">
            <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center h-100">
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"></path>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
        </svg>
        Map
    </button>
    <button type="button" class="btn btn-primary mx-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z" />
            </svg>
        Cash
    </button>
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"></path>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
        </svg>
        Type @* กูหาไอค่อยไม่เจอ *@
    </button>
    </div>
    @* recomend *@
    <div class="container mx-5">
        <h2>Recomend</h2>
    </div>    
    @* card1 *@
    <section>
        <div class="card-group">
        @* card1 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
            <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap" >
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        @* card2 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
            <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        @* card3 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
            <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        @* card4 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
        </div>
        </div>
</section>
@* Food Type*@    
    <div class="container mx-5 my-1">
        <h2>Food Type</h2>
    </div>
    <section>
        <div class="card-group">
            @* card1 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card2 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card3 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card4 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </section>
    @* Dining Style*@
    <div class="container mx-5 my-1">
        <h2>Dining Style</h2>
    </div>
    <section>
        <div class="card-group">
            @* card1 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card2 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            @* card3 *@
            <div class="card border-dark mb-3 mx-5 my-5 card" style="width: 7rem">
                <img class="card-img-top" src="/Icon/HomePage.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
    </section>
    <section class="cover">
    </section>
    <hr class="hr" />
    <div class="container">
        <div class="d-flex justify-content-center h-100 mx-1 my-2 pb-1">
            <img src="/Icon/icon.png" alt="" width="70" height="70">
            <p><a class="link-opacity-10-hover mx-5" href="#">Bufteraunt คืออะไร</a></p>
            <p><a class="link-opacity-10-hover mx-5" href="#">วิธีการจองโต๊ะ</a></p>
            <p><a class="link-opacity-10-hover mx-5" href="#">ติดต่อเรา</a></p>

        </div>
    </div>
    
</body>