@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Login";
}

<div class="pt-5 mt-5"></div>
<div class="container justify-content-center align -items-center">
<div class="text-center">
    <div class="display-4">KuShop</div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }

        @if (HttpContextAccessor.HttpContext.Session.GetString("CusId") == null)
    {
        <form asp-controller="Home" asp-action="Login" method="post">
        <div class=" row justify-content-center m-3">
            <div class="col-lg-4">
                <div class="input-group">
                    <div class="input-group-text"><i class="bi bi-person-circle"></i></div> 
                    <input type="text" name="userName" class="form-control" required />
                </div>
            </div>
        </div>
        <div class=" row justify-content-center m-3">
            <div class="col-lg-4">
                <div class="input-group">
                    <div class="input-group-text"><i class="bi bi-unlock-fill"></i></div>
                    <input type="password" name="userPass" class="form-control" required />
                </div>
            </div>
        </div>
        <div class=" row justify-content-center m-3">
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
        }
        else
        {
            <div class="display-3">Welcome Gay @HttpContextAccessor.HttpContext.Session.GetString("CusName")</div>
        }
</div>
</div>
