@model IEnumerable<Buffet.ViewModels.Pdvm>




<img src="/Icon/copper header.png" class="d-block w-100" alt="...">
@foreach(var item in Model)
{
    <h1 class="text-center" pt-5 my-5>@item.ResName</h1>
    <h4 class="text-center" pt-5 my-5>Restaurant Description XxxxxxxxxxxxxxxxX</h4>
    <div class="text-center" pt-5 my-5>
        <button type="button" class="btn btn-primary">
            <i class="bi bi-geo-alt"></i>
            Map
        </button>
        <i class="bi bi-telephone">@item.ResPhone</i>

        <button type="button" class="btn btn-primary mx-1">
            <i class="bi bi-cash"></i>
            100-200
        </button>
    </div>

}

<div class="container mx-5 my-5">
    <h3>แพ็คเกจ</h3>
</div>
<div class="container" style="background-color : pink">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <h3 class="font-weight-bold my-5">Copper Set 1</h3>

            </div>
            <div class="col-md-5">
                <p class="text-center">International Buffet + Select 1 Premium Dish from 3 Options</p>
                <p class="text-center">Baked & Torched Canadian Lobster Tail with Trio Cheese Veloute, Khao-Soi Lobster Truffle Espuma or Korean Crab Paste D.I.Y</p>
                <p class="text-center">*Special menus of each package cannot be used in conjunction with other packages.</p>
            </div>
            <div class="col text-right col-lg-3">
                <p class="font-weight-bold">฿1,999</p>
                <p>NET price per person</p>
            </div>
        </div>
        @* เพิ่มเติม *@
        <div class="container">
            <div class="row">
                <div class="col ">
                    <div id="accordion-basic" class="accordion">
                        <div class="accordion-item">
                            <h5 class=" accordion-header">
                                <botton class="accordion-button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#ct1">
                                    เพื่มเติม
                                </botton>
                            </h5>
                            <div id="ct1">
                                <div class="accordion-body">
                                    <img src="/Icon/copper set1.png" class="d-block w-100" alt="...">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <h3 class="text-center">รอบเวลา</h3>
                    <img src="/Icon/time.png" class="d-block w-100" />
                    @*inputคน*@
                    <div class="row align-items-center py-3">
                        <div class="col">
                            <h5 class="mb-0">จำนวนคน</h5>

                        </div>
                        <div class="col-md-5 pe-7">

                            <input type="tel" class="form-control form-control-lg" placeholder="1-30" />
                        </div>
                    </div>
                    @*input เวลา*@
                    <h4 class="mb-0 py-3">เวลา</h4>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                10.00-12.00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                13.00-15.00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                16.00-18.00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                18.30-19.45
                            </label>
                        </div>
                        <h4 class="mb-0 py-3">วันที่</h4>
                        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2022-01-01" max="2999-12-31" />
                        <h4 class="mb-0 py-3">Set</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                2
                            </label>
                        </div>
                        <div class="px-5 py-5">
                            <button type="submit" class="btn btn-primary btn-lg" asp-action="Register">ยืนยันการจอง</button>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="mx-n3">
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <h3 class="font-weight-bold my-5">Copper Set 2</h3>

            </div>
            <div class="col-md-5">
                <p class="text-center">International Buffet + Select 1 Premium Dish from 3 Options</p>
                <p class="text-center">Baked & Torched Canadian Lobster Tail with Trio Cheese Veloute, Khao-Soi Lobster Truffle Espuma or Korean Crab Paste D.I.Y</p>
                <p class="text-center">*Special menus of each package cannot be used in conjunction with other packages.</p>
            </div>
            <div class="col text-right col-lg-3">
                <p class="font-weight-bold">฿2,999</p>
                <p>NET price per person</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col ">
                    <div id="accordion-basic" class="accordion">
                        <div class="accordion-item">
                            <h5 class=" accordion-header">
                                <botton class="accordion-button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#ct2">
                                    เพื่มเติม
                                </botton>
                            </h5>
                            <div id="ct2">
                                <div class="accordion-body">
                                    <img src="/Icon/copper set2.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

