<head>

</head>
<img src="/Icon/copper header.png" class="d-block w-100" alt="...">
<h1 class="text-center" pt-5 my-5>Copper Buffet</h1>
<h4 class="text-center" pt-5 my-5>Restaurant Description XxxxxxxxxxxxxxxxX</h4>
<div class="text-center" pt-5 my-5>
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"></path>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
        </svg>
        Map
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill mx-1" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />

    </svg>
    000-000-0000
    <button type="button" class="btn btn-primary mx-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
            <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z" />
        </svg>
        100-200
    </button>
</div>
<div class="container mx-5 my-5">
    <h3>แพ็คเกจ</h3>
</div>
<div class="container" style="background-color : pink">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <h3 class="font-weight-bold my-5">Copper Set 1</h3>

            </div>
            <div class="col-md-5">
                <p class="text-center">International Buffet + Select 1 Premium Dish from 3 Options</p>
                <p class="text-center">Baked & Torched Canadian Lobster Tail with Trio Cheese Veloute, Khao-Soi Lobster Truffle Espuma or Korean Crab Paste D.I.Y</p>
                <p class="text-center">*Special menus of each package cannot be used in conjunction with other packages.</p>
            </div>
            <div class="col text-right col-lg-3">
                <p class="font-weight-bold">฿1,999</p>
                <p>NET price per person</p>
            </div>
        </div>
        @* เพิ่มเติม *@
        <div class="container">
            <div class="row">
                <div class="col ">
                    <div id="accordion-basic" class="accordion">
                        <div class="accordion-item">
                            <h5 class=" accordion-header">
                                <botton class="accordion-button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#ct1">
                                    เพื่มเติม
                                </botton>
                            </h5>
                            <div id="ct1">
                                <div class="accordion-body">
                                    <img src="/Icon/copper set1.png" class="d-block w-100" alt="...">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <h3 class="text-center">รอบเวลา</h3>
                    <img src="/Icon/time.png" class="d-block w-100" />
                    @*inputคน*@
                    <div class="row align-items-center py-3">
                        <div class="col">
                            <h5 class="mb-0">จำนวนคน</h5>

                        </div>
                        <div class="col-md-5 pe-7">

                            <input type="tel" class="form-control form-control-lg" placeholder="1-30" />
                        </div>
                    </div>
                    @*input เวลา*@
                    <h4 class="mb-0 py-3">เวลา</h4>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                10.00-12.00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                13.00-15.00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                16.00-18.00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                18.30-19.45
                            </label>
                        </div>
                        <h4 class="mb-0 py-3">วันที่</h4>
                        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2022-01-01" max="2999-12-31" />
                        <h4 class="mb-0 py-3">Set</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                2
                            </label>
                        </div>
                        <div class="px-5 py-5">
                            <button type="submit" class="btn btn-primary btn-lg">ยืนยันการจอง</button>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="mx-n3">
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <h3 class="font-weight-bold my-5">Copper Set 2</h3>

            </div>
            <div class="col-md-5">
                <p class="text-center">International Buffet + Select 1 Premium Dish from 3 Options</p>
                <p class="text-center">Baked & Torched Canadian Lobster Tail with Trio Cheese Veloute, Khao-Soi Lobster Truffle Espuma or Korean Crab Paste D.I.Y</p>
                <p class="text-center">*Special menus of each package cannot be used in conjunction with other packages.</p>
            </div>
            <div class="col text-right col-lg-3">
                <p class="font-weight-bold">฿2,999</p>
                <p>NET price per person</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col ">
                    <div id="accordion-basic" class="accordion">
                        <div class="accordion-item">
                            <h5 class=" accordion-header">
                                <botton class="accordion-button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#ct2">
                                    เพื่มเติม
                                </botton>
                            </h5>
                            <div id="ct2">
                                <div class="accordion-body">
                                    <img src="/Icon/copper set2.png" class="d-block w-100" alt="...">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

