<head>

</head>
<img src="/Icon/copper header.png" class="d-block w-100" alt="...">
<h1 class="text-center" pt-5 my-5>Copper Buffet</h1>
<h4 class="text-center" pt-5 my-5>Restaurant Description XxxxxxxxxxxxxxxxX</h4>
<div class="text-center" pt-5 my-5>
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"></path>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
        </svg>
        Map
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill mx-1" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />

    </svg>
    000-000-0000
    <button type="button" class="btn btn-primary mx-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
            <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z" />
        </svg>
        100-200
    </button>
</div>
<div class="container mx-5 my-5">
    <h3>สรุปยอดชำระ</h3>
</div>
<div class="container" style="background-color : pink">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <h3 class="font-weight-bold my-5">Copper Set 1</h3>

            </div>
            <div class="col-md-5">
                <p class="text-center">International Buffet + Select 1 Premium Dish from 3 Options</p>
                <p class="text-center">Baked & Torched Canadian Lobster Tail with Trio Cheese Veloute, Khao-Soi Lobster Truffle Espuma or Korean Crab Paste D.I.Y</p>
                <p class="text-center">*Special menus of each package cannot be used in conjunction with other packages.</p>
            </div>
            <div class="col text-right col-lg-3">
                <p class="font-weight-bold">฿1,999</p>
                <p>NET price per person</p>
                <h5 class="mt-5">รอบ วันจันทร์ที่ 18 มีนาคม 2024</h5>
                <p>เวลา 13.00-15.00</p>
            </div>
            <hr class="mx-n3">
            <h3>วิธีชำระเงิน</h3>
            @* qrcode_payment *@
            <div class="row">
                <div class="col">
                    <h1 class="pt-2">Thai Qr Payment</h1>
                </div>
                <div class="col">
                    <img src="/Icon/thai qr payment.png" class="d-block w-100 my-5" alt="...">
                </div>
            </div>
            <hr class="mx-n3">
            @* credit card *@
            <div class="row">
                <div class="col">
                    <h1 class="pt-2">Credit/Debit Card</h1>
                </div>
                <div class="col">
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                            <h6 class="mb-0">รหัสบัตร</h6>

                        </div>
                        <div class="col-md-9 pe-5">

                            <input type="text" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                            <h6 class="mb-0">วันหมดอายุ</h6>

                        </div>
                        <div class="col-md-9 pe-5">
                            <input type="month" id="start" name="start" min="2010-03" value="2024-3" />
                        </div>
                    </div>
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                            <h6 class="mb-0">CCV</h6>

                        </div>
                        <div class="col-md-9 pe-5">

                            <input type="text" class="form-control form-control-lg" />
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mx-n3">
            @* policy *@
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="my-3">ข้อกำหนดและเงื่อนไข</a>
            <hr class="mx-n3">
            @* สรุปยอด *@
            <div class="row">
                <div class="col">
                    <h3>รวมทั้งหมด</h3>
                </div>
                <div class="col">
                    <h3 class="text-end">1999 บาท</h3>
                </div>
                <div class="px-5 py-4 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">ยืนยัน</button>
                </div>
            </div>

        </div>
    </div>

