@model IEnumerable<Buffet.ViewModels.Pdvm>



<form asp-action="Payment">
<div class="container d-flex justify-content-center mt-5 mb-5 pt-5">
    <div class="row g-3">
        <div class="col-md-6">
            <div class="card">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo">
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <input type="text" class="form-control" placeholder="Paypal email">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0">
                            <h2 class="mb-0">
                                <div class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="d-flex align-items-center justify-content-between">

                                        <span>Credit card</span>
                                        <div>
                                                <select class="form-select" name="method" id="method">
                                                    <option value="Visa">Visa</option>
                                                    <option value="Mastercard">Mastercard</option>
                                                </select>

                                        </div>
                                    </div>
                                </div>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body payment-card-body">
                                <span class="font-weight-normal card-text">Card Number</span>
                                <div class="input">
                                    <i class="fa fa-credit-card"></i>
                                    <input name = "cardnumber"type="text" class="form-control" placeholder="0000 0000 0000 0000" maxlength="16">
                                </div>
                                <div class="row mt-2 mb-3">
                                    <div class="col-md-6">
                                        <span class="font-weight-normal card-text">Expiry Date</span>
                                        <div class="input">
                                            <i class="fa fa-calendar"></i>
                                            <input name="exp" type="text" class="form-control" placeholder="MM/YY" maxlength="5">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <span class="font-weight-normal card-text">CVC/CVV</span>
                                        <div class="input">
                                            <i class="fa fa-lock"></i>
                                            <input name="ccv" type="text" class="form-control" placeholder="000" maxlength="3">
                                        </div>
                                    </div>
                                </div>

                                <span class="font-weight-normal card-text">Date</span>
                                <div class="input">
                                    <i class="bi bi-calendar"></i>  
                                    <input name="date" type="datetime-local" class="form-control" placeholder="DD/MM/YYYY" maxlength="16">
                                </div>
                                <span class="font-weight-normal card-text">จำนวนคน</span>
                                <div class="input">
                                    <i class="bi bi-person-fill"></i>
                                        <input name="people" id="input" type="text" class="form-control" placeholder="1-99" oninput="calculate()" >
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card">



                <div class="p-3">

                    <div class="d-flex justify-content-between mb-2">

                        <span>รายละเอียดคอร์ส</span>
                        <span>จำนวนคอร์ส</span>

                    </div>

                </div>

                <hr class="mt-0 line">

                <div class="d-flex justify-content-between p-3">

                    <div class="d-flex flex-column">

                        <span>ยอดรวม </i></span>

                    </div>

                    <div class="mt-1">
                        <sup class="super-price" id="result"></sup>
                    </div>

                </div>

                <hr class="mt-0 line">

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block free-button custom-button">Submit</button>
                </div>
           
                <div class="text-center px-5 mx-5">
                    <a href="#">เงื่อนไขและข้อตกลง</a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
@section Scripts {
<script>
    function calculate() {
        let input = document.getElementById('input').value;
        let number = parseFloat(input);
        let result = number * 1;
        document.getElementById('result').innerHTML = result;
    }
</script>
}